# macOS
.DS_Store

# IDE
.idea/
.vscode/

# ملفات Python غير ضرورية
__pycache__/
*.py[cod]
*.pyc
*.pyo

# تجاهل البيئة الافتراضية
env/
venv/
.venv/
.venv

# Django / ملفات إعدادات محلية
.env
*.sqlite3
*.log

# تجاهل الوسائط أو الملفات الثقيلة
staticfiles/
media/
uploads/
*.zip

# تجارب محلية وليست جزءاً من التطبيق
Code_test/
/test.py
