<div id="allowed-country-wrapper">
{% include "core/partials/messages.html" %}
{% include "tracker/partials/includes/tracker_list_table_open.html" %}
        <tr>
          <th class="px-2 py-1.5">Country</th>
          <th class="px-2 py-1.5 text-right">Delete</th>
        </tr>
      </thead>
      {% include "tracker/partials/allowed_country_table.html" %}
{% include "tracker/partials/includes/tracker_list_table_close.html" %}

{% include "tracker/partials/includes/tracker_pagination_always.html" with partial_view_name="tracker:allowed_country_partial" wrapper_id="allowed-country-wrapper" %}
</div>
