<div id="blocked-subnets-wrapper">
{% include "core/partials/messages.html" %}
{% include "tracker/partials/includes/tracker_list_table_open.html" %}
        <tr>
          <th class="px-3 py-2">CIDR</th>
          <th class="px-3 py-2 text-right">Delete</th>
        </tr>
      </thead>
      {% include "tracker/partials/blocked_subnets_table.html" %}
{% include "tracker/partials/includes/tracker_list_table_close.html" %}

{% include "tracker/partials/includes/tracker_pagination_always.html" with partial_view_name="tracker:blocked_subnets_partial" wrapper_id="blocked-subnets-wrapper" %}
</div>
