<div id="blocked-hostname-wrapper">
{% include "core/partials/messages.html" %}
{% include "tracker/partials/includes/tracker_list_table_open.html" %}
        <tr>
          <th class="px-2 py-1.5">Hostname</th>
          <th class="px-2 py-1.5 text-right">Delete</th>
        </tr>
      </thead>
      {% include "tracker/partials/blocked_hostname_table.html" %}
{% include "tracker/partials/includes/tracker_list_table_close.html" %}

{% include "tracker/partials/includes/tracker_pagination_always.html" with partial_view_name="tracker:blocked_hostname_partial" wrapper_id="blocked-hostname-wrapper" %}
</div>
