<div id="blocked-isp-wrapper">
{% include "core/partials/messages.html" %}

{% include "tracker/partials/includes/tracker_list_table_open.html" %}
        <tr>
          <th class="px-2 py-1.5">ISP</th>
          <th class="table-actions px-2 py-1.5">Delete</th>
        </tr>
      </thead>
      {% include "tracker/partials/blocked_isp_table.html" %}
{% include "tracker/partials/includes/tracker_list_table_close.html" %}

{% include "tracker/partials/includes/tracker_pagination_always.html" with partial_view_name="tracker:blocked_isp_partial" wrapper_id="blocked-isp-wrapper" %}
</div>
