<div id="blocked-os-wrapper">
{% include "tracker/partials/includes/tracker_list_table_open.html" %}
        <tr>
          <th class="px-2 py-1.5">OS Address</th>
          <th class="table-actions px-2 py-1.5">Delete</th>
        </tr>
      </thead>
      {% include "tracker/partials/blocked_os_table.html" %}
{% include "tracker/partials/includes/tracker_list_table_close.html" %}

{% include "tracker/partials/includes/tracker_pagination_always.html" with partial_view_name="tracker:blocked_os_partial" wrapper_id="blocked-os-wrapper" %}
</div>
{% include "tracker/partials/includes/tracker_flash_messages_oob.html" %}
