{% load slugify_filters %}
<div id="denied-logs-wrapper"
     hx-get="{% url 'tracker:denied_logs_partial' %}"
     hx-trigger="every 30s"
     hx-target="#denied-logs-wrapper"
     hx-swap="outerHTML">

{% include "core/partials/messages.html" %}
{% include "tracker/partials/includes/tracker_list_table_open.html" %}
      <tr>
        <th class="px-3 py-2">Time</th>
        <th class="px-3 py-2">IP</th>
        <th class="px-3 py-2">Reason</th>    <!-- ← انتقل مكان الدولة -->
        <th class="px-3 py-2">ISP</th>
<!--        <th class="px-3 py-2">Hostname</th>-->
        <th class="px-3 py-2">OS</th>
        <th class="px-3 py-2">Browser</th>
        <th class="px-3 py-2">Country</th>   <!-- ← انتقل مكان السبب -->
        <th class="px-3 py-2">Subnet</th>
        <th class="px-3 py-2 text-right">Delete</th>
      </tr>
    </thead>
      {% include "tracker/partials/denied_logs_table.html" %}
{% include "tracker/partials/includes/tracker_list_table_close.html" %}

{% include "tracker/partials/includes/tracker_pagination_if_other_pages.html" with partial_view_name="tracker:denied_logs_partial" wrapper_id="denied-logs-wrapper" %}
</div>
