{% load slugify_filters %}
<div id="denied-logs-wrapper"
     hx-get="{% url 'tracker:denied_logs_partial' %}"
     hx-trigger="every 30s"
     hx-target="this"
     hx-swap="outerHTML">

{% include "core/partials/messages.html" %}
{% include "tracker/partials/includes/tracker_list_table_open.html" %}
      <tr>
        <th class="px-2 py-1.5">Time</th>
        <th class="px-2 py-1.5">IP</th>
        <th class="px-2 py-1.5">Reason</th>    <!-- ← انتقل مكان الدولة -->
        <th class="px-2 py-1.5">ISP</th>
<!--        <th class="px-2 py-1.5">Hostname</th>-->
        <th class="px-2 py-1.5">OS</th>
        <th class="px-2 py-1.5">Browser</th>
        <th class="px-2 py-1.5">Country</th>   <!-- ← انتقل مكان السبب -->
        <th class="px-2 py-1.5">Subnet</th>
        <th class="table-actions px-2 py-1.5">Delete</th>
      </tr>
    </thead>
      {% include "tracker/partials/denied_logs_table.html" %}
{% include "tracker/partials/includes/tracker_list_table_close.html" %}

{% include "tracker/partials/includes/tracker_pagination_if_other_pages.html" with partial_view_name="tracker:denied_logs_partial" wrapper_id="denied-logs-wrapper" %}
</div>
