<!DOCTYPE html>
<html lang="en" class="h-full bg-zinc-900">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Dashboard{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>
<body class="h-full text-white antialiased" x-data="{ sidebar: true }">
  <div class="flex h-screen min-h-0">
    <!-- Sidebar -->
    {% include "dashboard/partials/sidebar.html" %}

    <!-- Main section -->
    <div class="flex min-h-0 min-w-0 flex-1 flex-col overflow-hidden bg-zinc-900">

      <!-- Header -->
      {% include "dashboard/partials/header.html" %}

      <!-- Content -->
      <main class="min-h-0 flex-1 overflow-y-auto scroll-smooth px-4 py-6 sm:px-6 sm:py-7 lg:px-8">
        {% block content %}{% endblock %}
        {% block after_content %}{% endblock %}
      </main>
      {% include "dashboard/partials/footer.html" %}
    </div>
  </div>
</body>

</html>
