# تجاهل البيئة الافتراضية
env/
venv/

# تجاهل قاعدة البيانات
*.sqlite3

# تجاهل ملفات إعدادات
.env

# تجاهل الملفات المؤقتة
__pycache__/
*.pyc
*.pyo
*.log

# تجاهل الوسائط أو الملفات الثقيلة
media/
uploads/
*.zip

# macOS
.DS_Store

# VSCode
.vscode/
